* {
    box-sizing: border-box;
  }
  
  body  {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
    overflow: hidden;
    background-image: url('mustafar-5-facts_TALL.jpg');
  }
  
  .container {
    display: flex;
    width: 50vw;
  }
  
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
  }
  
  .panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
  }
  
  .panel.active {
    flex: 5;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  @media (max-width: 480px) {
    .container {
      width: 100vw;
    }
  
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }
nav{

    position: relative;
    right: -30rem;
    top: 10rem;

  }
  .w-100
  {
    margin-top: -250px;
    margin-right: 100px;
  }
  .subheading{
 position: relative;
 left: -5rem;
    margin-right:500px ;
    margin-left: 50px;
    /* border-radius: solid; */
    position: relative;
    right: 10rem; 
    flex-wrap: wrap;
    text-decoration: underline;
    background-color: rgba(0, 0, 255, 0.424);
    border-radius: -15rem;
    width: 25rem;
   
  }
  h1{
    background-image: linear-gradient(rgb(241, 116, 116),red), url("Sidious-le-lightsaber-l.png");
    border-radius: 1rem;
    background-position: left;
  }
  #hilt{
    height: 7rem;
    width: 11rem;
    float: left;
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */       
    /* border: solid; */
    position: relative;
    right: 4rem;
    top: -34px;
}
#sidious {
height: 7rem;
width:10rem;
background-image: linear-gradient(rgba(0, 0, 225, 0.424),rgba(0, 0, 225, 0.424)) url("afd.jpg");
position: relative;
right: 10rem;
}
.social-icons{
    display: flex;
    display: inline-block;
    height: 10rem;
    width: 10rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}
.social-icons a:last-child {
    margin-right: 0; }
    .social-icons a:hover {
        background-color: #f5203e;
      }
      

      #navbarSupportedContent{
        position: relative;
        right: 25rem;
        top: 10rem;
      }